body{
    background-image: url("../img/background/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4{
    font-size: 2em;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
}

p,a,li{
    color: #f0f0f0;
    font-size: 1em;
}

.imagem{
    border-radius: 50%;
}

.rodape{
    color: #f0f0f0;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: rgba(0, 19, 43, 0.8);
    text-align: center;
    padding: 0.5%;
    margin-top: 5%;;
}

.carrossel{
    font-size: 4em;
    font-weight: bolder;
}

/*=================================================================
  Modal
==================================================================*/
.modal-header, .modal-body{
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .modal-header span{
    color:#c05954;
  }
  
  .modal-body li{
    font-family: "Source Sans Pro", sans-serif;
    color: #923e4d;
    font-size: 18px;
    margin-bottom: 1.5%;
  }
  
  .modal-body h3{
    margin-top: 3%;
    margin-bottom: 1.5%;
  }
  
  .modal-body h5{
    margin-top: 8%;
  }
  
  .modal-body p{
    font-family: "Source Sans Pro", sans-serif;
    color: #632245;
    font-size: 18px;
    margin-bottom: 1.5%;
  }
  
  .close {
    position: absolute;
    top: 10px;right: 10px;
  }